@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-purpura-sagrado:  #0D5C3A;
    --color-dorado-divino:    #C8A547;
    --color-azul-mariano:     #2A79B3;
    --color-blanco-liturgico: #F4F5F2;
    --color-marfil-calido:    #E9ECE5;
    --color-rojo-martir:      #A13B3B;
    --color-verde-esperanza:  #0F6E46;
    --color-gris-piedra:      #253238;
}

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 0.875rem; /* text-sm equivalent */
        background-color: var(--color-blanco-liturgico);
        color: var(--color-gris-piedra);
    }
}

